<<!DOCTYPE html>
<html>
<head>
	<title>monika blog</title>
</head>
<body>
	<h1>djangogirls</h1>
	<h2>python y django</h2>
		<div>
			<p>Creando <em>mujeres</em> empoderadas en el sector digital</p>
			<p>Porque solo el <strong>3% de ellas ocupan un lugar en este sector</strong> y porque queremos que sean mas las que logren emprender una carrera en esta area laboral</p><br>
		</div>
	<div><a href="http://djangogirls.org">link</a>
		<h3>Nuestra organización</h3></div>
	<div>
		<ul>
			<li><a href="que">Qué es django girls</a></li>
			<li><a href="ayudando"> Forma de ayudar</a></li>
			<li><a href="logros"> Nuestros logros</a></li>
			<li><a href="galeria">Galeria</a></li>
		</ul>
	</div>
</body>
</html>